.pagination {
    display: flex;
    justify-content: center;
}
.btnPaginado{
    border-radius: 100px;
    margin: 5px;
    background-color:transparent;
    border:1px solid grey;
    color: grey;
}

.btnPaginado:hover{
    background-color:#5939fa;
    border-color: #5939fa;
    color: #fffef4;
    border-radius: 100px;
    
}
.btnPaginado:active{
    background-color:#5939fa !important;
    border-color: #5939fa !important;
    box-shadow: none !important;
    border-radius: 100px;
}
.btnPaginado:focus{
    background-color:#5939fa !important;
    border-color: #5939fa !important;
    box-shadow: none !important;
    border-radius: 100px;
}
.algo{
    
}