.searchBarContainer {
    display: flex;
    justify-content: space-around;
}

.input-searchBar {
    width: 150%;
    height: 20%;
}

.searchBar-form {
    
    height: 100%;
    display: flex;
}

.btn-search {
    height: 35px;
}
.inputSelectSearch{
    border-radius: 30px;
    margin-right: 15px;
}
.inputSearch{
    border-radius: 30px;
    margin-right: 7px;
}
.buttonSearch{
    border-radius: 30px;
    border: 1px solid #5939fa;
    background-color: #5939fa;
    height: 35px;
}
.mystyle{
    font-family: 'Fredoka', sans-serif !important;
    font-size: 11px; 
}